<div>
    <h3>Полка заданий:</h3>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>

                <th>Задание</th>
                <th>Дедлайн</th>
                <th>Теги</th>
                <th>Действия</th>

            </tr>
        </thead>
        <tbody>
            @foreach (scheduler.Models.PlannerTask pt in ViewBag.ShelfTasks)
            {
                <tr>

                    <td>@pt.Header</td>
                    <td>@pt.Deadline.ToString("d MMMM")</td>
                    <td>
                        <div>
                            <span class="label label-danger">@pt.ImportantTag</span>
                            <span class="label label-warning">@pt.RushTag</span>
                            @if (
                                pt.ImportantTag.Trim().Equals("") && pt.RushTag.Trim().Equals(""))
                            {
                                <span class="label label-info">Тегов нет</span>
                            }
                        </div>
                    </td>
                    <td>
                        <div>



                            <button type="button" class="btn btn-primary btn-xs" data-container="body" data-toggle="popover" data-placement="bottom" data-content="@pt.Description" data-original-title="" title="">
                                Описание
                            </button>





                            <div class="btn-group">
                                <a class="btn btn-primary btn-xs">Изменить</a>
                                <a href="#" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="Move?id=@pt.Id&where=current">Переместить в текущие</a></li>
                                    <li><a href="Move?id=@pt.Id&where=expired">Переместить в просроченные</a></li>
                                    <li class="divider"></li>
                                    <li><a id="@pt.Id" class="edit_link">Редактировать</a></li>
                                    <li class="divider"></li>
                                    <li><a href="Delete/@pt.Id">Удалить</a></li>
                                </ul>
                            </div>

                        </div>
                    </td>
                </tr>
            }



        </tbody>
    </table>
</div>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
